<%- include("partials/header.ejs") -%>

<h1>Blog</h1>


<div class="container-fluid blog">
    <% posts.forEach((post) => { %>
        <h2><%= post.title %></h2>
        <h3 class="postDate"><%= post.date %></h3>

        <p><%= post.body.substring(0, 75) %>...<a href="/post/<%= post._id %>">Read More</a></p>
        <br><br>
    <% }) %>

</div>


<%- include("partials/footer.ejs") -%>


